/* font-family: 'Cuprum', sans-serif; font-family: 'PT Sans', sans-serif; */

 :root {
    --basic-red: #ee3643;
    --basic-darkred: #ba2732;
    --basic-green: #63a63e;
    --basic-greenlight: #8ed78f;
    --basic-greendark: #518534;
    --basic-grey: #3d546f;
    --basic-greylight: #c5c5c5;
    --basic-darkgrey: #32425c;
    --basic-white: #ffffff;
    --basic-darkwhite: #f1f5f7;
    --basic-yellow: #ffbf47;
    --special-green: #5fbb2d;
    --special-yellow: #ffc047;
    --special-yellowlight: #ffd180;
    --special-lilac: #dc91d8;
    --special-blue: #3bbce3;
    --special-white: rgba(255, 255, 255, 0.5);
    --special-whitelight: rgba(255, 255, 255, 0.3);
    --basic-black: #000000;
    --basic-dark: #293449;
    --active-dark: #161d29;
    --active-darkgrey: #1d2739;
    --basic-greywhite: #f3f7f9;
    --basic-beige: #f9f5f0;
    --special-greylight: rgba(197, 197, 197, 0.3);
    --special-grey: rgb(66%, 66%, 66%, 0.3);
    --special-black: rgba(0, 0, 0, 0.0001);
    --special-red: #ca2c37;
    --social-dark: #212a3a;
    --special-greylightlight: #e5e5e5;
}

.page {
    height: 100%;
}

.page-body {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
    font-family: "Cuprum", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    background-color: var(--basic-white);
}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.header-top {
    background-color: var(--basic-dark);
}
.header-top-container{
    display: grid;
    grid-template-columns: max-content 1fr;

}
.header-logo {
    display: block;
    position: relative;
    padding: 12px 55px 6px 55px;
    background-color: var(--basic-red);
}
.header-logo::after{
    content: "";
    position: absolute;
    width: 220px;
    height: 5px;
    left: 0;
    top: 42px;
    background-color: var(--basic-red);
    box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.header-logo:active {
    background-color: var(--basic-darkred);
}
.header-top-grid{
    max-height: 42px;
    display: grid;
    grid-template-columns: 1fr min-content max-content;
}
.placeholder{
  position: relative;
}
.placeholder::before{
  content: "";
  position: absolute;
  width: 17px;
  height: 17px;
  top: 12px;
  left: 17px;
  background-image: url(../img/icon-search.svg);
  background-repeat: no-repeat;
  opacity: 0.3;
}
.placeholder::before:hover{
  opacity: 1;
}

.header-top-list{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: min-content max-content;
    align-items: center;
}
.header-top-item{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
.header-top-link-bookmark,
.header-top-link-basket{
    position: relative;
    text-decoration: none;
    padding: 8px 32px 10px 45px;
    color: var(--basic-white);
}
.header-top-link-bookmark::before{
    content: "";
    position: absolute;
    width: 14px;
    height: 16px;
    top: 12px;
    left: 24px;
    background-image: url(../img/icon-bookmark.svg);
    background-repeat: no-repeat;
    opacity: 0.3;
}
.header-top-link-bookmark::before:hover{
    opacity: 1.0;
}
.header-top-link-basket::before{
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    top: 12px;
    left: 24px;
    background-image: url(../img/icon-cart.svg);
    background-repeat: no-repeat;
    opacity: 0.3;
}
.header-top-link-bookmark:active,
.header-top-link-basket:active {
    background-color: var(--active-dark);
    color: var(--special-white);
}

.header-top-button {
    position: relative;
    padding: 9px 18px 10px;
    background-color: var(--basic-green);
    color: var(--basic-white);
    border: none;
    outline: none;
}

.header-top-button:hover {
    background-color: var(--special-green);
}

.header-top-button:active {
    background-color: var(--basic-green);
    color: var(--special-white);
}

.header-bottom {
    background-color: var(--basic-darkwhite);
    padding-bottom: 42px;
}
.header-bottom-inner{
    padding: 6px 0 8px;
    padding-left: 30px;
    /* display: grid;
    grid-template-columns: max-content 1fr max-content max-content;
    grid-gap: 10px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.header-bottom-text,
.header-bottom-phone {
    color: var(--basic-red);
}
.header-bottom-phone{
    position: relative;
    padding: 8px 45px 8px 74px;
    font-weight: 700;
    font-size: 21px;
    line-height: 30px;
    margin-top: 60px;
    border: 3px solid var(--basic-white);
}
.header-bottom-phone::before{
    position: absolute;
    content: "";
    width: 19px;
    height: 19px;
    top: 12px;
    left: 40px;
    background-image: url(../img/icon-phone.svg);
    background-repeat: no-repeat;
}
.header-bottom-text {
    font-style: italic;
    width: 197px;
    font-size: 16px;
    line-height: 23px;
    margin: 0;
    padding-top: 20px;
}
.header-bottom-contacts{
    text-align: center;
    padding-top: 47px;
    padding-left: 43px;
}

.header-bottom-address {
    font-size: 14px;
    line-height: 24px;
    margin-top: 11px;
    padding: 0;
}
.button-login,
.button-registration,
.header-bottom-button {
    position: relative;
    padding: 12px 25px;
    font-size: 21px;
    line-height: 21px;
    background-color: var(--basic-white);
    border: none;
    outline: none;
}

.header-bottom-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 300px;
}
.header-bottom-box .header-bottom-button{
    width: 300px;
    margin-top: 21px;
}
.header-bottom-box .header-bottom-button::before{
    position: absolute;
    content: "";
    width: 20px;
    height: 18px;
    left: 15px;
    bottom: 14px;
    background-image: url(../img/icon-user.svg);
    background-repeat: no-repeat;
    opacity: 0.3;
}
.header-bottom-box .header-bottom-button::after{
    position: absolute;
    content: "";
    width: 20px;
    height: 17px;
    right: 18px;
    bottom: 14px;
    background-image: url(../img/icon-logout.svg);
    background-repeat: no-repeat;
    opacity: 0.3;
}
.header-bottom-button:hover {
    color: var(--basic-red);
}

.header-bottom-button:active {
    color: var(--basic-greylight);
}
.button-login{
    position: relative;
    padding-left: 45px;
    margin-left: 20px;
}
.button-login::before{
    position: absolute;
    content: "";
    width: 20px;
    height: 17px;
    top: 13px;
    left: 17px;
    background-image: url(../img/icon-login.svg);
    background-repeat: no-repeat;
}
.header-bottom-link {
    position: relative;
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-darkgrey);
}
.header-bottom-link:last-child::before{
    position: absolute;
    content: "";
    width: 6px;
    height: 7px;
    top: 5px;
    left: -22px;
    background-color:  var(--basic-darkgrey);
    border-radius: 50%;
}
.header-bottom-link:hover {
    color: var(--basic-red);
}

.header-bottom-link:active {
    color: var(--basic-darkgrey);
    opacity: 0.5;
}
.header-bottom-box{
    display: flex;
    flex-wrap: wrap;
}
.header-bottom-box-link{
      width: 100%;
      margin-top: 5px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      padding: 0 11px;
}
.header-bottom-link{
      text-decoration: none;
}

.header-nav {
    background-color: var(--basic-darkgrey);
}
.header-nav-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0;
    margin-left: 26px;

}
.header-nav-item{
    list-style: none;
}
.header-nav-link {
    display: block;
    text-decoration: none;
    padding: 16px 28px 20px;
    color: var(--basic-white);
}

.header-nav-link:hover {
    background-color: var(--basic-dark);
}

.header-nav-link:active {
    background-color: var(--active-darkgrey);
    color: var(--special-white);
}

.catalog-page-title {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic-darkgrey);
}


.main{

}
.shop {
    margin-top: 60px;
}
.shop-grid{
    display: grid;
    grid-template-columns: minmax(300px, 1fr);
    grid-template-rows: minmax(123px, max-content);
    padding: 0;
    gap: 20px;
}
.shop-item-delivery {
    grid-column-start: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}
.shop-item-discount {
    grid-column-start: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
.shop-item-material,
.shop-item-instrument,
.shop-item-technic,
.shop-item-discount,
.shop-item-delivery {
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
    width: 300px;
    position: relative;
    overflow: hidden;
}
.shop-item-grid{
    margin-bottom: 13px;
}
.shop-item-material {
    background-color: var(--basic-yellow);
}
.shop-item-instrument {
    background-color: var(--special-blue);
}
.shop-item-technic {
    background-color: var(--special-lilac);
}

.shop-item-discount {
    background-color: var(--basic-greenlight);
}

.shop-item-delivery {
    background-color: var(--special-yellow);
}

.shop-item-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: var(--basic-white);
    margin: 9px 23px 14px;
}

.shop-link {
    display: block;
    width: 135px;
    padding: 10px 0;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    background-color: var(--special-whitelight);
    color: var(--basic-white);
    margin-left: 23px;
    text-align: center;
    text-decoration: none;
}

.shop-link:hover {
    background-color: var(--special-greylight);
}

.shop-link:active {
    background-color: var(--special-grey);
}

.shop-new {
    left: 225px;
    top: 5px;
}
.shop-item-image {
    margin-left: 13px;
}
.shop-item-material .shop-item-image{
  margin-left: 32px;
}

.shop-slider {
    width: 620px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
}
.shop-slider-list{
    margin: 0;
    padding: 0;
}
.shop-slider-perforator {
    background-image: url(../img/shop_slider1.jpg);
    background-repeat: no-repeat;
    color: var(--basic-white);
    padding: 22px 25px 28px;
}

.shop-slider-drill {
  background-image: url(../img/shop_slider2.jpg);
  background-repeat: no-repeat;
  color: var(--basic-white);
  padding: 22px 25px 28px;
}
.shop-slider-perforator,
.shop-slider-drill{
    position: relative;
}
.shop-slider-perforator::before,
.shop-slider-drill::before{
    position: absolute;
    content: "";
    width: 22px;
    height: 40px;
    left: 24px;
    top: 122px;
    background-image: url(../img/icon-left.svg);
    background-repeat: no-repeat;
}
.shop-slider-perforator::after,
.shop-slider-drill::after{
    position: absolute;
    content: "";
    width: 22px;
    height: 40px;
    right: 24px;
    top: 122px;
    background-image: url(../img/icon-left.svg);
    background-repeat: no-repeat;
    transform: rotate(180deg);
}
.shop-slider-controls{
    position: absolute;
    bottom: -110px;
    left: 490px;
    display: flex;
    flex-wrap: wrap;
    width: 30px;
    justify-content: space-between;
}
.shop-slider-controls button{
    padding: 0;
    width: 10px;
    height: 10px;
    background-color: var(--basic-white);
    border: 2px solid var(--basic-white);
    border-radius: 50%;
    cursor: pointer;
}
.shop-slider-controls .current{
    background-color: var(--basic-red);
}
.shop-slider-perforator,
.shop-slider-drill{
    display: none;
}
.slide-current{
    display: block;
}
.shop-slider-title {
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    margin: 0;
}
.shop-slider-text{
    margin: 0;
    margin-top: 5px;
    margin-bottom: 113px;
}
.shop-slider-button{
    width: 192px;
    display: block;
    padding: 10px 0px;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--basic-white);
    background-color: var(--basic-red);
    text-decoration: none;
}

.button:hover {
    background-color: var(--special-red);
}

.button:active {
    background-color: var(--basic-darkred);
}

.button {
    display: block;
    width: 192px;
    padding: 10px 0;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--basic-white);
    background-color: var(--basic-red);
    text-decoration: none;
}

.product-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.product-top {
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: space-between;
    align-content: center;
    background-color: var(--basic-beige);
    padding: 21px 14px 25px;
    margin: 62px 0 20px;
}
.product-title,
.manufacturer-title,
.service-title,
.company-title,
.catalog-page-text {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    margin: 4px 9px;
}

.product-item {
    display: grid;
    grid-template-rows: 164px max-content;
    padding-top: 4px;
    padding-right: 6px;
    position: relative;
    text-align: center;
    border: 1px solid  var(--special-greylightlight);
    overflow: hidden;
}

.product-item:hover {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}
 .product-item:hover .product-item-image{
    display: none;
}
.product-item:hover .product-item-buy,
.product-item:hover .product-item-tab{
    display: block;
}

.shop-new,
.product-new {
    z-index: 1;
    position: absolute;
    content: "";
    transform: rotate(45deg);
    padding: 9px 38px 3px;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    background-color: var(--basic-red);
    color: var(--basic-white);
}

.product-new {
    left: 145px;
    top: 9px;
}
.product-item-top{
    display: grid;
    justify-items: center;
    align-items: center;
}
.product-item-bottom{
    display: grid;
    text-align: center;
    padding: 0 20px;
}
.product-item-text {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: var(--basic-black);
    margin: 12px 0 4px;
    padding-left: 7px;
}

.price-old {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 18px;
    color: #a9a9a9;
    padding-top: 3px;
    padding-left: 7px;
}

.price {
    padding: 10px 39px 10px 29px;
    background-image: url(../img/price.svg);
    background-repeat: no-repeat;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 18px;
    color: var(--basic-white);
    margin: 14px 4px 20px 24px;
}
.product-item-buy,
.product-item-tab{
    display: none;
}
.product-item-buy {
    padding: 10px 47px;
    background-color: var(--basic-green);
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--basic-white);
    margin-top: 5px;
    box-shadow: inset 0px -3px 0px #367315;
    border-radius: 2px;
    border: none;
}

.product-item-buy:hover {
    background-color: var(--special-green);
}

.product-item-buy:active {
    background-color: var(--basic-greendark);
}

.product-item-tab {
    padding: 7px 32px;
    border: 3px solid var(--basic-green);
    background-color: var(--basic-white);
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--basic-darkgrey);
    border-radius: 2px;
    margin-top: -66px;
}

.product-item-tab:hover {
    border: 3px solid var(--basic-darkgrey);
}

.product-item-tab:active {
    border: 3px solid var(--basic-darkgrey);
    opacity: 0.5;
}
.manufacturer-top {
  display: grid;
  grid-template-columns: max-content max-content;
  justify-content: space-between;
  align-content: center;
  background-color: var(--basic-beige);
  padding: 20px 19px 25px;
  margin: 75px 0 20px;
}

.service {
    margin-top: 70px;
    background-color: var(--basic-darkwhite);
    padding: 64px 0 82px 0;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.service-title{
    margin: 0;
}
.service-text {
    width: 400px;
    font-family: "PT Sans", sans-serif;
    font-size: 13px;
    line-height: 24px;
    margin: 25px 0 67px;
}

.service-slider{
    display: flex;
    flex-wrap: wrap;
}
.service-slider-list{
    margin: 0;
}
.service-slider-buttons{
    order: -1;
}
.service-slider-button {
    width: 240px;
    font-weight: 700;
    font-size: 21px;
    line-height: 30px;
    color: var(--basic-white);
    background-color: var(--basic-darkgrey);
    display: grid;
    grid-template-columns: 1fr;
    text-align: left;
    padding: 16px 22px;
    border: none;
    outline: none;

}
.service-slider-button:hover {
    background-color: var(--basic-dark);
}
.service-slider-button-active {
    background-color: var(--basic-white);
    color: var(--basic-darkgrey);
}
.service-slider-item{
    position: relative;
    padding-left: 41px;
    display: none;
}
.service-slider-current{
    display: block;
}

.service-slider-title {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    margin: 0;
}
.service-slider-text {
    font-family: "PT Sans", sans-serif;
    font-size: 13px;
    line-height: 24px;
    width: 312px;
    margin: 27px 0;
  }
.service-slider-image{
    content: "";
    position: absolute;
    left: 204px;
    top: -2px;
}
.service-slider-image-guarantee{
    content: "";
    position: absolute;
    left: 277px;
    top: -2px;
}
.service-slider-item button{
    position: relative;
    z-index: 1;
    border-radius: 2px;
}
.service-slider-buttons::after{
    position: absolute;
    content: "";
    width: 10px;
    height: 279px;
    top: 185px;
    left: 428px;
    background-image: url(../img/line.png);
    background-repeat: no-repeat;
}


.company-grid {
    display: grid;
    grid-template-columns: 460px 300px;
    justify-content: space-between;
    padding: 70px 0;
}
.company-title{
    margin: 0;
}
.about-text {
    font-family: "PT Sans", sans-serif;
    font-size: 13px;
    line-height: 24px;
    margin-top: 23px;
}
.about-text-bottom{
    margin-top: 27px;
    margin-bottom: 2px;
}
.about-list{
    padding: 0;
    margin: 0;
    padding-left: 39px;
    margin-bottom: 20px;
}
.about-item{
    list-style: none;
    position: relative;
}
.about-item::before{
    position: absolute;
    content: "";
    width: 25px;
    height: 2px;
    left: -40px;
    bottom: 12px;
    border-bottom: 2px solid var(--basic-red);
}
.about-item + .about-item{
    margin-top: 12px;
}
.about-button{
    width: 220px;
}

.contact {
    width: 300px;
}

.contact-text {
    font-family: "PT Sans", sans-serif;
    font-size: 13px;
    line-height: 24px;
    width: 180px;
    margin: 0;
    margin-top: 24px;
}
.contact-picture{
    margin: 32px 0 18px;
}
.button-contact{
    width: 300px;
}

.manufacturer-list {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.manufacturer-item {
    list-style: none;
}

.manufacturer-link {
    display: table-cell;
    width: 220px;
    height: 145px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #eaeaea;
}

.manufacturer-link:hover {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}


.catalog-page-title{
    background-color: var(--basic-darkwhite);
    padding: 30px 28px;
}

.breadcrumbs-list{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 17px 0;
}
.breadcrumbs-item{
    position: relative;
    list-style: none;
}
.breadcrumbs-item + .breadcrumbs-item{
    margin-left: 41px;
}
.breadcrumbs-item + .breadcrumbs-item::before{
  position: absolute;
  content: "";
  width: 8px;
  height: 12px;
  top: 7px;
  left: -26px;
  background-image: url(../img/icon-right-small.svg);
  background-repeat: no-repeat;
}
.breadcrumbs-link {
    font-family: "PT Sans", sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--basic-black);
    text-decoration: none;
}
.catalog-grid{
    display: grid;
    grid-template-columns: min-content 3fr;
    grid-gap: 20px;
}
 .catalog-page-title .catalog-page-text{
    padding: 0;
    margin: 0;
}
.filters{
    width: 220px;
}
.catalog-sidebar-title,
.catalog-page-menu-title,
.catalog-page-menu-link{
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: var(--basic-black);
    padding: 10px 18px;
}
.catalog-sidebar-title{
    margin: 20px 0 12px;
    background-color: var(--basic-beige);
}
.catalog-sidebar-text,
.catalog-page-menu{
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: var(--basic-black);
    padding: 10px 18px;
    display: flex;
    justify-content: space-between;
    background-color: var(--basic-beige);
    margin: 20px 0 26px 2px;
}
.catalog-page-menu-title,
.catalog-page-menu-list{
    margin: 0;
    padding: 0;
}
.catalog-page-menu-list{
  width: 390px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 95px;
}
.catalog-page-menu-item{
    list-style: none;

}
/* .catalog-page-menu-item+.catalog-page-menu-item{
  margin-left: 20px;
} */
.catalog-page-menu-link{
    /* text-decoration: none; */
    opacity: .3; text-decoration-line: underline;
    text-decoration-style: dotted;
    text-decoration-color: var(--basic-red);
}
.catalog-page-menu-link:hover{
  opacity: 1;
   text-decoration-line: underline;
    text-decoration-style: initial;
    text-decoration-color: var(--basic-red);
}
.catalog-page-menu-link:active{
  opacity: 1;
  color: var(--basic-red);
  text-decoration: none;
}
.page-menu-button-up,
.page-menu-button-doun{
  margin: 0;
  padding: 0;
  border: none;
  background-color: var(--basic-beige);
  opacity: .3;
}
.page-menu-button-doun{
  transform: translateY(-2px) rotate(180deg);
  margin-left: 13px;
}
.page-menu-button-up:hover,
.page-menu-button-doun:hover{
  opacity: 1;
}
.page-menu-button-up path:active,
.page-menu-button-doun path:active{
    fill: red;
}


.product-item-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 18px 20px;
}


.range-inner,
.selection-checkbox-inner,
.selection-radio-inner{
    padding: 0;
    margin: 0;
    margin-bottom: 42px;
    border: none;
}
/* .filters legend{
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 30px;
    color: var(--basic-black);
    text-transform: uppercase; */
}
.filters ul{
    margin: 0;
    padding: 0;
}
.filter-option-list{
  margin: 0;
  padding: 0;
}
.filters .filter-option{
    list-style: none;
    padding-bottom: 20px;
    padding-left: 35px;
}
.filters li:last-child{
    padding-bottom: 0;
}
.selection-checkbox-inner{
    position: relative;
    padding-top: 18px;
}
.selection-radio-inner{
  position: relative;
  padding-top: 10px;
}

.selection-checkbox-inner::before,
.selection-radio-inner::before{
    position: absolute;
    content: "";
    width: 220px;
    height: 1px;
    top: -17px;
    left: 0;
    border-bottom: 1px solid var(--basic-beige);
}
.filter-option{

}
.range-filter {
    width: 220px;
    margin-top: 4px;
}
.filter-title {
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 30px;
    text-transform: uppercase;
}
.range-controls {
    position: relative;
    height: 41px;
    margin-bottom: 10px;
    padding: 47px 20px 0;
    background-color:  var(--basic-beige);
    border-radius: 5px;
}
.range-controls .scale {
    height: 2px;
    background: #d7dcde;
}
.range-controls .bar {
    width: 80%;
    height: 2px;
    background: #00ca74;
}
.range-controls .toggle {
    position: absolute;
    top: 38px;
    left: 0;
    width: 4px;
    height: 4px;
    padding: 0;
    border: 8px solid var(--basic-white);
    background-color: #ababab;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    cursor: pointer;
}
.range-controls .toggle-min {
    left: 18px;
}

.range-controls .toggle-max {
    left: 158px;
}
.price-controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.price-controls input{
    width: 95px;
    padding: 9px 0;
    list-style: none;
    text-align: center;
    color: #283136;
    border: none;
    border-radius: 5px;
    background: var(--basic-beige);
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 18px;
}
.price-controls input::-webkit-outer-spin-button,
.price-controls input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}
.price-controls .max-price {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #444444;
}
.max-price input{
    margin-left: 7px;
}
.selection-text{
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    text-transform: uppercase;
    color: var(--basic-black);
}
.filter-input-checkbox + .selection-text::before{
    position: absolute;
    content: "";
    width: 19px;
    height: 19px;
    top: -3px;
    left: -35px;
    border: 2px solid var(--basic-greylight);
    border-radius: 3px;
}
.filter-input-checkbox:checked + .selection-text::after {
    content: "";
    position: absolute;
    top: -1px;
    left: -31px;
    width: 22px;
    height: 16px;
    background-image: url(../img/cross.svg);
    background-repeat: no-repeat;

}
.selection-radio-inner .filter-title{
    padding-top: 4px;
}
.selection-radio-inner .filter-radio{
    margin: 14px 35px;
    padding: 0;
}
.selection-radio-inner .filter-radio:last-child{
  margin-top: 22px;
}
.filter-input-radio + .selection-text{
    position: relative;
}
.filter-input-radio + .selection-text::before{
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    top: -1px;
    left: -35px;
    border: 4px solid var(--basic-greylight);
    border-radius: 50%;
}
.filter-input-radio:checked + .selection-text::after {
    content: "";
    position: absolute;
    top: 6px;
    left: -27px;
    height: 8px;
    width: 8px;
    background-color: var(--basic-greylight);
    border-radius: 50%;
}
.selection-radio-inner{
  margin-bottom: 23px;
}
.filter-button{
    padding: 10px 78px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--basic-black);
    background-color: var(--basic-white);
    border: 1px solid var(--basic-beige);
    outline: none;
}


.pagination-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 53px 0;
}

.pagination-item {
    list-style: none;
}

.pagination-link {
    text-decoration: none;
    padding: 10px 15px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--basic-black);
    border: 1px solid var(--special-greylightlight);
}
.pagination-item + .pagination-item{
    margin-left: 9px;
}
.pagination-button{
    padding: 10px 30px;
}
.pagination-link-active {
    background-color: var(--basic-red);
    color: var(--basic-white);
}

.pagination-link:hover {
    border: 1px solid var(--special-greylight);
}

.pagination-link:active {
    border: 1px solid var(--basic-red);
}

.promo {
    background-color: var(--basic-darkwhite);
    padding-top: 46px;
    padding-bottom: 56px;
    margin-top: 13px;
}
.promo-text {
    max-width: 907px;
    font-family: "PT Sans", sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: var(--basic-black);
    margin-top: 28px;
}

.footer-top {
    background-color: var(--basic-darkgrey);
}

.footer-top-grid {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: min-content
     max-content;
}

.footer-logo {
    z-index: 1;
    margin-right: 113px;
    margin-bottom: -6px;
}

.footer-top-text {
    width: 330px;
    color: var(--basic-greywhite);
    margin: 0;
    padding-top: 21px;
    padding-left: 2px;
}

.footer-nav-top-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding-top: 37px;
    padding-left: 60px;
}
.footer-nav-bottom-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 26px 0 73px 83px;
}

.footer-nav-top-item,
.footer-nav-bottom-item {
    list-style: none;

}

.footer-nav-top-link {
    text-decoration: none;
    color: var(--basic-darkwhite);
}

.footer-nav-bottom-item {}

.footer-nav-bottom-link {
    text-decoration: none;
    color: var(--special-yellowlight);
}

.footer-nav-top-link:hover,
.footer-nav-bottom-link:hover {
    text-decoration: underline;
}

.footer-nav-top-link:active,
.footer-nav-bottom-link:active {
    text-decoration: none;
    opacity: 0.5;
}

.footer-bottom {
    background-color: var(--basic-dark);
}

.footer-bottom-flex {
    /* display: grid;
    grid-template-columns: max-content 1fr max-content max-content; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 16px;
}

.footer-bottom-copiright {
}
.footer-bottom-mail,
.footer-bottom-text{

}
.footer-bottom-copiright,
.footer-bottom-mail,
.footer-bottom-text {
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-white);
    margin: 0;
    padding-top: 20px;
}

.footer-social {
  /* margin: 0 55px; */
    width: 312px;
}

.footer-social-list {
    /* display: grid;
    grid-template-columns: min-content min-content min-content;
    justify-content: center;
    grid-gap: 1px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-left: 45px;
}

.footer-social-item {
    width: 44px;
    list-style: none;
}

.footer-social-link {
    position: relative;
    display: block;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--social-dark);
    margin: 0;
    padding: 0;
}

.vk {
    content: "";
    position: absolute;
    left: 7px;
    top: 15px;
}

.fb {
    content: "";
    position: absolute;
    left: 16px;
    top: 10px;
}

.insta {
    content: "";
    position: absolute;
    left: 12px;
    top: 10px;
}

.footer-social-link:hover,
.footer-social-link:active {
    background-color: var(--basic-red);
}
.footer-bottom-mail{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.footer-bottom-text{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-right: 14px;
}
.footer-bottom-mail-link,
.footer-bottom-text-link {
    color: var(--special-yellowlight);
}

.footer-bottom-mail-link:active,
.footer-bottom-text-link:active {
    color: var(--basic-red);
}


